In [102]:
import fitz
import re
import csv

mmpia_df = pd.DataFrame()

# Open the PDF file
for pdf_document in Path("mmpia").glob("*.pdf"):

    doc = fitz.open(pdf_document)

    def extract_name(file_stem):
        parenthesis_index = file_stem.find("(")
        extracted_name = file_stem[:parenthesis_index].strip().lower()
        return extracted_name

    data_dict = {"id": extract_name(pdf_document.stem) }
    
    pattern = re.compile(r"([A-Za-z0-9\-]+)\s+(\d+)\s+(\d+)")
    
    # Pages from 2 to 6 (zero-indexed pages 1 to 5)
    for page_number in range(1, 6):
        page = doc.load_page(page_number)
        text = page.get_text()    
        matches = pattern.findall(text)
        for scale, raw_score, t_score in matches:
            raw_column = f"{scale}_raw"
            t_column = f"{scale}_scale_t"
            data_dict[raw_column] = int(raw_score)
            data_dict[t_column] = int(t_score)
    
    # Convert the extracted data into a Pandas DataFrame
    # Since we have a single row of data, we use pd.DataFrame.from_records
    scales_df = pd.DataFrame.from_records([data_dict])
    mmpia_df = pd.concat([mmpia_df, scales_df])

mmpia_df.to_csv("mmpia.xlsx", index=False)

In [104]:
In [1]: data = {
   ...:    "value": range(12),
   ...:    "variable": ["A"] * 3 + ["B"] * 3 + ["C"] * 3 + ["D"] * 3,
   ...:    "date": pd.to_datetime(["2020-01-03", "2020-01-04", "2020-01-05"] * 4)
   ...: }
   ...: 

In [2]: df = pd.DataFrame(data)
df

    value variable       date
0       0        A 2020-01-03
1       1        A 2020-01-04
2       2        A 2020-01-05
3       3        B 2020-01-03
4       4        B 2020-01-04
5       5        B 2020-01-05
6       6        C 2020-01-03
7       7        C 2020-01-04
8       8        C 2020-01-05
9       9        D 2020-01-03
10     10        D 2020-01-04
11     11        D 2020-01-05

In [111]:
df.pivot(index="date", columns="variable", values="value").columns

Index(['A', 'B', 'C', 'D'], dtype='object', name='variable')